<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CleanMenuBar</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DCA3869AA23D940641A8FF925250C43F466408D8</string>
				<key>dateExpires</key>
				<string>16/09/31</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-only</key>
				<true/>
			</dict>
			<key>name</key>
			<string>CleanMenuBar.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NP9YTUN8LD</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>0.1.0</string>
		</dict>
	</array>
</dict>
</plist>
